# Ignore virtual environment
venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files and temporary files
logs/
*.log
tutorial/output/

# Ignore large data files (optional)
data/
data/raw/
data/synthetic/

outputs/

# pixi environments
*.egg-info
.pixi/*
!.pixi/config.toml
