# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files and temporary files
*.log

# Ignore large data files
data/
outputs/
