absl-py==2.1.0
alabaster
annotated-types
anyio==4.9.0
app-model
appdirs
appnope==0.1.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens
astunparse==1.6.3
async-lru==2.0.5
attrs
babel
beautifulsoup4==4.13.3
bermuda
bleach==6.2.0
Brotli
build
cachey
certifi
cffi
cftime==1.6.4.post1
charset-normalizer==3.4.1
chex==0.1.88
click
cloudpickle
colorama
comm==0.2.2
contourpy==1.3.1
crc32c
cycler==0.12.1
cytoolz
dask
debugpy==1.8.13
decorator
defusedxml==0.7.1
Deprecated
docstring_parser
docutils
donfig
etils==1.11.0
exceptiongroup
executing
fastjsonschema==2.21.1
flatbuffers==25.9.23
flax==0.10.2
flexcache
flexparser
fonttools==4.56.0
fqdn==1.5.1
freetype-py
fsspec==2025.2.0
gast==0.6.0
google-pasta==0.2.0
grpcio==1.75.0
h11==0.14.0
h2
h5py==3.14.0
HeapDict
hpack
hsluv
httpcore==1.0.7
httpx==0.28.1
humanize==4.11.0
hyperframe
idna
imagecodecs
imageio
imageio-ffmpeg==0.6.0
imagesize
importlib_metadata
importlib_resources==6.5.2
in-n-out
ipykernel==6.29.5
ipython==9.0.2
ipython_pygments_lexers
ipywidgets==8.1.5
isoduration==20.11.0
jax==0.7.2
jax-cuda12-pjrt==0.7.2
jax-cuda12-plugin==0.7.2
jaxlib==0.7.2
jedi
Jinja2
json5==0.10.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
keras==3.11.3
kiwisolver==1.4.8
lazy_loader
libclang==18.1.1
llvmlite==0.44.0
locket
magicgui
Markdown==3.9
markdown-it-py==3.0.0
MarkupSafe
matplotlib==3.10.0
matplotlib-inline
mdurl
mistune==3.1.2
ml_dtypes==0.5.1
mrcfile==1.5.4
msgpack
namex==0.1.0
napari
napari-console
napari-plugin-engine
napari-plugin-manager
napari-svg
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest_asyncio
netCDF4==1.7.2
networkx==3.4.2
notebook==7.3.3
notebook_shim==0.2.4
npe2
numba
numcodecs
numpy==2.2.2
numpydoc
nvidia-cublas-cu12==12.9.1.4
nvidia-cuda-cupti-cu12==12.9.79
nvidia-cuda-nvcc-cu12==12.9.86
nvidia-cuda-nvrtc-cu12==12.9.86
nvidia-cuda-runtime-cu12==12.9.79
nvidia-cudnn-cu12==9.13.0.50
nvidia-cufft-cu12==11.4.1.4
nvidia-cusolver-cu12==11.7.5.82
nvidia-cusparse-cu12==12.5.10.65
nvidia-nccl-cu12==2.28.3
nvidia-nvjitlink-cu12==12.9.86
nvidia-nvshmem-cu12==3.4.5
opt_einsum==3.4.0
optax==0.2.4
optree==0.17.0
orbax-checkpoint==0.11.3
overrides==7.7.0
packaging
pandas
pandocfilters==1.5.1
parso==0.8.4
partd
PartSegCore_compiled_backend
pexpect
pickleshare
pillow
Pint
platformdirs
ply
pooch
prometheus_client==0.21.1
prompt_toolkit==3.0.50
protobuf==5.29.3
psutil==6.1.1
psygnal
ptyprocess
pure_eval
pyconify
pycparser
pydantic
pydantic-compat
pydantic_core
Pygments==2.19.1
PyOpenGL
pyparsing==3.2.1
pyproject_hooks
PyQt5==5.15.11
PyQt5_sip==12.17.0
PySide2==5.15.15
PySocks
python-dateutil
python-json-logger==3.3.0
pytz
PyWavelets==1.9.0
PyYAML
pyzmq==26.2.1
qtconsole
QtPy
referencing
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
roman-numerals-py
rpds-py
scikit-image
scipy
Send2Trash==1.8.3
shellingham
shiboken2==5.15.15
simplejson==3.19.3
sip
six
sniffio==1.3.1
snowballstemmer
soupsieve==2.6
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
stack_data
superqt
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
tensorstore==0.1.71
termcolor==3.1.0
terminado==0.18.1
tifffile==2025.1.10
tinycss2==1.4.0
toml
tomli
tomli_w
toolz
tornado==6.4.2
tqdm
traitlets
trimesh==4.6.4
typer==0.19.2
typer-slim==0.19.2
types-python-dateutil==2.9.0.20241206
typing-inspection
typing_extensions==4.12.2
tzdata
uri-template==1.3.0
urllib3==2.3.0
vispy
wcwidth
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.1.3
widgetsnbextension==4.0.13
wrapt
zarr
zipp==3.21.0
zstandard==0.25.0
